Options -Indexes
DirectoryIndex public/index.php

<IfModule mod_rewrite.c>
    RewriteEngine On

    # Transmettre le header Authorization à PHP
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^ public/index.php [QSA,L]
</IfModule>
